- submit_btn_css ||= 'gl-button btn btn-danger btn-sm'
= form_tag path do
  %input{ :name => "_method", :type => "hidden", :value => "delete" }
  - if defined? small
    = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, icon: 'remove', button_options: { data: { confirm: _("Are you sure?"), confirm_btn_variant: "danger" } }) do
      %span.sr-only
        = _('Destroy')
  - else
    = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, button_options: { aria: { label: _('Destroy') }, class: submit_btn_css, data: { confirm: _("Are you sure?"), confirm_btn_variant: "danger" } }) do
      = _('Destroy')
